body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#tempC,
#tempF {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 10px;
}
#tempC {
  background-color: #e7f3ff;
}
#tempF {
  background-color: #ffe7e7;
}

#displayC,
#displayF {
  font-size: 5rem;
  width: 50%;
  text-align: center;
  border: none;
  color: black;
}
#displayC {
  border-color: #007bff; 
  background-color: #e7f3ff; 
}
#displayF {
  border-color: #dc3545; 
  background-color: #ffe7e7; 
}
input,
input:hover,
input:focus,
input:active {
    transition: background-color 5000s ease-in-out 0s;
}
